<nav>
  <a routerLink="/" routerLinkActive="active">
    <img id="logo" src="/assets/logo2.svg" class="logo" style="float:left;" alt="logo" />
  </a>

  <ul>
    <a routerLink="/" routerLinkActive="active">
      <li class="navbar" style="float: left;">Home</li>
    </a>
    <a routerLink="/login" routerLinkActive="active">
      <li class="navbar" style="float: left;">Login</li>
    </a>
    <a routerLink="/register" routerLinkActive="active">
      <li class="navbar" style="float: left;">Register</li>
    </a>
    <a routerLink="/profile" routerLinkActive="active">
      <li class="navbar" style="float: left;">Profile</li>
    </a>
    <a routerLink="/upload" routerLinkActive="active">
      <li class="navbar" style="float: left;">Upload</li>
    </a>
    <a routerLink="/favorites" routerLinkActive="active">
      <li class="navbar" style="float: left;">Favorites</li>
    </a>

    <!--
    <?php
    if($loggedin) {
      echo '<a href="Profile.php"><li class="navbar" style="float: left;">'.$username.'</li></a><a href="Logout.php"><li class="navbar" style="float: left;">Logout</li></a>';
    } else {
      echo '<a href="Login.php"><li class="navbar" style="float: left;">Login</li></a><a href="Register.php"><li class="navbar" style="float: left;">Register</li></a>';
    }
    ?>
    -->

    <li class="navbar right" style="cursor: pointer;" (click)="toggleSEARCH = !toggleSEARCH">Search</li>

    <form style="float: right;" [style.visibility]="toggleSEARCH ? 'visible' : 'hidden'">
      <input id="search" type="text">
      <input id="searchconf" type="submit" value="?">
    </form>
  </ul>
</nav>

<router-outlet></router-outlet>
